<h1>Directivas Esctructurales</h1>
<hr>
<div id="Principal">
  <div>
    <h1>Uso del If en angular</h1>
    @if (isvisible) {
      <h2>El texto esta visible</h2>
    }@else {
      <h2>El texto esta oculto</h2>
    }
    <button (click)="toggle()">Mostrar/Ocultar</button>
    @if (isvisible) {
      <p>Las directivas estructurales 1</p>
      <p>Utilizadas para cambiar el diseño del DOM</p>
      <p>Basicamente cambia la estructura de la pagina</p>
      <p>Ejemplos de estas directivas son: if, for o switch</p>
    }
  </div>
  <!---->
  <div>
    <h1>Uso del For en angular</h1>
    <h2>Lenguajes de programacion</h2>
    <ul>
      @for (item of Lenguajes; track item) {
        <li>{{item}}</li>
      }
      <input type="text" name="nuevo" [(ngModel)]="nuevo">
      <button (click)="addItem()">Agregar</button>
    </ul>
  </div>
  <div>
    <h1>Uso del switch en angular</h1>
    <h2>Selecciona tu framework favorito</h2>
    <select [(ngModel)]="selectedOption">
      <option value="default">Selecione una opcion</option>
      <option value="Angular">Angular</option>
      <option value="React">React</option>
      <option value="Vue">Vue</option>
    </select>
    @switch (selectedOption) {
      @case ('Angular') {
        <p>Has seleccionado Angular <br><br>Es una herramienta creada por Google</p>
      }
      @case ('React') {
        <p>Has seleccionado React <br><br>Es una herramienta creada por Facebook</p>
      }
      @case ('Vue') {
        <p>Has seleccionado Vue <br><br>Es una herramienta progrecivo centrado en la vista</p>
      }
    }


  </div>

</div>